In [0]:
print(spark)

In [0]:
data2 = [
    ("James", "", "Smith", "36636", "M", 3000),
    ("Michael", "Rose", "", "40288", "M", 4000),
    ("Robert", "", "Williams", "42114", "M", 4000),
    ("Maria", "Anne", "Jones", "39192", "F", 4000),
    ("Jen", "Mary", "Brown", "", "F", -1)
]
columns=["firstname","middlename","lastname","zipcode","gender","salary"]
df = spark.createDataFrame(data=data2,schema=columns)
display(df)

In [0]:
df.printSchema()

In [0]:
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

# Create RDD
rdd = spark.sparkContext.parallelize(data)

# Collect and print
rdd.collect()

In [0]:
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

# Convert to DataFrame
df = spark.createDataFrame(data, ["Language", "Salary"])
#dffrd1=rdd.toDFcolumns()
    
# Show the data
#display(df)
df.collect()

In [0]:
df=spark.read.csv("/FileStore/tables/db_parquet-1.csv",header=True,inferSchema=True)
display(df)

In [0]:
pandasdf=df.toPandas()
print(pandasdf)

In [0]:

from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, BooleanType, DateType
 
schema = StructType([
  StructField("PassengerId", IntegerType(), True),
  StructField("Survived", StringType(), True),
  StructField("Pclass", IntegerType(), True),
  StructField("Name", StringType(), True),
  StructField("Sex", StringType(), True),
  StructField("Age", FloatType(), True),
  StructField("SibSp", IntegerType(), True),
  StructField("Parch", IntegerType(), True),
  StructField("Ticket", StringType(), True)
])  
 
df=spark.read.csv("/FileStore/tables/db_parquet-1.csv",header=True, schema=schema)
display(df)
df.show()